@font-face {
    font-family: "Museo Sans Cyrillic";
    src: url(../fonts/MuseoSansCyrillic-300.eot);
    src: url(../fonts/MuseoSansCyrillic-300.eot?#iefix) format("embedded-opentype"), url(../fonts/MuseoSansCyrillic-300.woff2) format("woff2"), url(../fonts/MuseoSansCyrillic-300.woff) format("woff"), url(../fonts/MuseoSansCyrillic-300.ttf) format("truetype"), url(../fonts/MuseoSansCyrillic-300.svg#MuseoSans) format("svg");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "Museo Sans Cyrillic";
    src: url(../fonts/MuseoSansCyrillic-500.eot);
    src: url(../fonts/MuseoSansCyrillic-500.eot?#iefix) format("embedded-opentype"), url(../fonts/MuseoSansCyrillic-500.woff2) format("woff2"), url(../fonts/MuseoSansCyrillic-500.woff) format("woff"), url(../fonts/MuseoSansCyrillic-500.ttf) format("truetype"), url(../fonts/MuseoSansCyrillic-500.svg#MuseoSans) format("svg");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: "Museo Sans Cyrillic";
    src: url(../fonts/MuseoSansCyrillic-700.eot);
    src: url(../fonts/MuseoSansCyrillic-700.eot?#iefix) format("embedded-opentype"), url(../fonts/MuseoSansCyrillic-700.woff2) format("woff2"), url(../fonts/MuseoSansCyrillic-700.woff) format("woff"), url(../fonts/MuseoSansCyrillic-700.ttf) format("truetype"), url(../fonts/MuseoSansCyrillic-700.svg#MuseoSans) format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "Museo Sans Cyrillic";
    src: url(../fonts/MuseoSansCyrillic-900.eot);
    src: url(../fonts/MuseoSansCyrillic-900.eot?#iefix) format("embedded-opentype"), url(../fonts/MuseoSansCyrillic-900.woff2) format("woff2"), url(../fonts/MuseoSansCyrillic-900.woff) format("woff"), url(../fonts/MuseoSansCyrillic-900.ttf) format("truetype"), url(../fonts/MuseoSansCyrillic-900.svg#MuseoSans) format("svg");
    font-weight: 900;
    font-style: normal
}

body,
button,
input,
textarea {
    font-family: "Museo Sans Cyrillic", "Open Sans", "sans-serif"
}

body {
    background: #fff;
    color: #000;
    width: 100%
}

button,
input,
textarea {
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    background: 0 0;
    border-color: transparent
}

button {
    cursor: pointer
}

.clearfix:after {
    content: "";
    display: table;
    clear: both
}

ol,
ul {
    margin: 0;
    list-style: none
}

body,
h1,
h3,
h4,
h5,
h6,
ol li,
p,
ul li {
    margin: 0;
    padding: 0
}

button,
h2,
ol,
ul {
    padding: 0
}

*,
:focus,
:hover,
:visited {
    text-decoration: none;
    outline: 0
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0
}

img {
    max-width: 100%
}

a {
    color: inherit;
    cursor: pointer
}

h2 {
    font-size: 2.35294vw;
    line-height: 2.79412vw;
    font-weight: 700;
    margin: 0 0 0 -.03em
}

.colorblue {
    color: #4d73d7
}

.button,
.tac {
    text-align: center
}

.button {
    display: inline-block;
    border-width: 0.14706vw;
    border-style: solid;
    border-color: transparent;
    height: 3.30882vw;
    line-height: 3.01471vw;
    font-size: 1.02941vw;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
    padding: 0 1.17647vw;
    position: relative;
    -webkit-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out
}

.button_transparent_white {
    border-color: #fff;
    background: 0 0;
    color: #fff
}

.button_transparent_white:hover {
    border-color: #fff;
    background: #fff;
    color: #000
}

.button_transparent_black {
    border-color: #f2f2f2;
    background: 0 0;
    color: #000
}

.button_transparent_black:hover,
.button_transparent_blue {
    border-color: #4d73d7;
    background: 0 0;
    color: #4d73d7
}

.button_transparent_blue {
    color: #000
}

.button_transparent_blue:hover {
    border-color: #000;
    background: #fff;
    color: #000
}

.wrapper {
    max-width: 100vw;
    width: 100%;
    margin: 0 auto;
    padding-left: 7.05882vw;
    padding-right: 7.05882vw
}

.link,
.logo {
    line-height: 1.32353vw
}

.link {
    display: inline-block;
    border-bottom: 0.14706vw solid #4d73d7;
    padding-bottom: 0.44118vw;
    -webkit-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
    font-size: 1.47059vw;
    font-weight: 700
}

.link:hover {
    border-bottom-color: transparent
}

.logo {
    font-size: 1.32353vw;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 900
}

.logo_black {
    color: #000
}

.logo_grey {
    color: #d6d6d6
}

.section_main_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.section_main_l {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    background-color: #f7f7f7
}

.section_main_l h2 {
    margin-bottom: 1.39706vw
}

.section_main_l .section_main_header_menu {
    display: none
}

.section_main_l .section_main_header_menu span {
    background: #000
}

.section_main_l_inner {
    padding: 2.20588vw 2.64706vw 4.04412vw 7.05882vw
}

.section_main_header {
    height: 3.30882vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 8.23529vw
}

.section_main_l_text {
    font-size: 1.47059vw;
    line-height: 1.91176vw;
    color: #929292;
    margin-bottom: 3.82353vw
}

.section_main_l_givelist {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 8.08824vw
}

.section_main_l_givelist_t {
    font-size: 2.35294vw;
    font-weight: 700;
    margin-right: 3.52941vw
}

.section_main_l_givelist_link {
    font-size: 1.47059vw;
    line-height: 1.32353vw;
    position: relative
}

.section_main_l_givelist_link:after {
    content: '';
    display: block;
    width: 100%;
    height: 0.14706vw;
    background: #4d73d7;
    position: absolute;
    left: 0;
    bottom: -0.58824vw;
    -webkit-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out
}

.section_main_l_givelist_link:hover:after {
    opacity: 0
}

.section_main_title {
    font-size: 1.32353vw;
    line-height: 1.61765vw;
    color: #363636;
    font-weight: 700;
    margin-bottom: 2.64706vw
}

.section_main_founder,
.section_main_founders {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.section_main_founder {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #4d73d7;
    font-size: 1.32353vw;
    font-weight: 500;
    padding-right: 1.47059vw
}

.section_main_founder span {
    display: block;
    padding: 0 1.17647vw
}

.section_main_founder_photo {
    width: 6.25vw;
    height: 6.25vw;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #ada386;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover
}

.section_main_r {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    background-color: #f3f3f3;
    background-image: -webkit-linear-gradient(65deg, #58c7db 0%, #4c68d6 100%);
    background-image: -o-linear-gradient(65deg, #58c7db 0%, #4c68d6 100%);
    background-image: linear-gradient(25deg, #58c7db 0%, #4c68d6 100%);
    color: #fff;
    position: relative
}

.section_main_r .section_main_content {
    padding: 1.10294vw 0 0
}

.section_main_r_inner {
    padding: 2.20588vw 7.05882vw 4.04412vw 4.41176vw
}

.section_main_header_r {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.section_main_header_login {
    font-size: 1.02941vw;
    line-height: 1.32353vw;
    display: block;
    -webkit-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out
}

.section_main_header_login:hover {
    opacity: .75
}

.section_main_header_menu {
    display: block;
    margin-left: 3.52941vw;
    width: 1.47059vw;
    height: 1.17647vw;
    position: relative
}

.section_main_header_menu span {
    display: block;
    width: 1.47059vw;
    height: 0.14706vw;
    background: #fff;
    -webkit-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
    position: absolute;
    right: 0
}

.section_main_header_menu span:first-child {
    top: 0
}

.section_main_header_menu span.section_main_header_menu_middle {
    width: 1.17647vw;
    top: 0.51471vw
}

.section_main_header_menu span:last-child {
    top: 1.02941vw
}

.section_main_header_menu:hover span {
    top: 0.51471vw
}

.section_main_r_title {
    font-size: 1.17647vw;
    line-height: 1.32353vw;
    font-weight: 500;
    margin-bottom: 4.26471vw
}

.section_main_r_title .section_main_r_title_logo {
    font-size: 1.32353vw;
    font-weight: 900;
    letter-spacing: .1em
}

.section_main_r_title .section_main_r_title- {
    margin: 0 1.32353vw;
    display: inline-block
}

.section_main_r_instagrammlogo {
    width: 13.38235vw;
    height: 13.23529vw;
    margin: 0 auto 3.08824vw;
    background: url(../img/instagrammlogo.png) no-repeat center/contain
}

.section_main_r_subscribers_quantity {
    font-size: 5.88235vw;
    text-transform: uppercase;
    letter-spacing: .025em;
    font-weight: 900;
    margin-bottom: 1.47059vw
}

.section_main_r_subscribers_text {
    font-size: 1.32353vw;
    letter-spacing: .025em;
    font-weight: 500
}

.section_main_r_subscribers_text span {
    display: block
}

.section_main_r_subscribers_text_tip {
    display: inline-block;
    background: #ee4655;
    -webkit-border-radius: 0.73529vw;
    border-radius: 0.73529vw;
    font-size: 1.10294vw;
    font-weight: 500;
    height: 2.72059vw;
    line-height: 2.72059vw;
    white-space: nowrap;
    padding: 0 0.73529vw;
    position: relative;
    margin-bottom: 0.88235vw
}

.section_main_r_subscribers_text_tip:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 0.73529vw solid transparent;
    border-right: 0.73529vw solid transparent;
    border-top: 0.73529vw solid #ee4655;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -0.73529vw
}

.section_main_r_subscribers_text_tip svg {
    display: inline-block;
    width: 1.10294vw;
    height: 1.10294vw;
    margin-right: 0.36765vw
}

.section_advantages {
    padding: 7.57353vw 0 3.52941vw
}

.section_advantages h2 {
    margin-bottom: 1.61765vw
}

.section_stars {
    padding: 1.61765vw 0 3.52941vw
}

.section_stars h2 {
    margin-bottom: 5.29412vw
}

.advantages {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.advantage {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%
}

.advantage_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2.42647vw 2.35294vw
}

.advantage_icon {
    display: block;
    min-width: 6.54412vw;
    width: 6.54412vw;
    height: 5.73529vw;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: contain;
    background-size: contain
}

.advantage_text {
    font-size: 1.32353vw;
    line-height: 1.76471vw;
    color: #363636;
    max-width: 18.82353vw;
    width: 100%;
    margin-left: 2.35294vw
}

.stars {
    margin: 0 -2.57353vw 3.82353vw;
    width: -webkit-calc(100% + 5.14706vw) !important;
    width: calc(100% + 5.14706vw) !important
}

.star {
    text-align: center;
    padding: 0 2.57353vw
}

.star_photo {
    width: 16.91176vw;
    height: 17.72059vw;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0 auto 2.5vw
}

.star_name {
    font-size: 1.32353vw;
    font-weight: 700;
    color: #363636;
    margin-bottom: 1.39706vw
}

.star_instagramm {
    display: block;
    font-size: 1.17647vw;
    font-weight: 500;
    color: #4d73d7;
    margin-bottom: 0.44118vw
}

.star_subscribers {
    font-size: 1.02941vw;
    font-weight: 300;
    color: #929292;
    margin-bottom: 1.76471vw
}

.star_link {
    display: block;
    font-size: 1.47059vw;
    line-height: 1.32353vw;
    font-weight: 700
}

.star_link span {
    display: inline-block;
    border-bottom: 0.14706vw solid #4d73d7;
    padding-bottom: 0.44118vw;
    -webkit-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out
}

.star_link:hover span {
    border-bottom-color: transparent
}

.stars_carousel_buttons {
    text-align: center
}

.stars_carousel_buttons.hidden {
    display: none !important
}

.stars_carousel_button {
    display: inline-block;
    cursor: pointer;
    margin: 0 1.76471vw
}

.stars_carousel_button svg {
    display: block;
    width: 2.20588vw;
    height: 1.02941vw;
    fill: #e5e5e5
}

.sorting_item.active .sorting_item_icon,
.stars_carousel_button:hover svg {
    fill: #000
}

.section_video_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.section_video_l {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%
}

.section_video_l_inner {
    padding-right: 5.29412vw;
    height: 100%
}

.section_video_video {
    width: 100%;
    height: 100%;
    position: relative;
    background: url(../img/section_video_video.jpg) no-repeat center/cover;
    -webkit-border-radius: 0.88235vw;
    border-radius: 0.88235vw
}

.section_video_playbutton {
    display: block;
    width: 2.79412vw;
    height: 3.23529vw;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -1.39706vw;
    margin-top: -1.61765vw;
    cursor: pointer
}

.section_video_playbutton svg {
    width: 100%;
    height: 100%;
    display: block
}

.section_video_playbutton:hover {
    opacity: .75
}

.section_video_r {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%
}

.section_video_r_inner {
    padding: 3.08824vw 0 3.67647vw 2.94118vw
}

.section_video_title {
    font-size: 2.05882vw;
    font-weight: 700;
    margin-bottom: 1.61765vw
}

.section_video_title span {
    display: inline-block;
    margin-right: 1.61765vw
}

.section_video_title2 {
    font-size: 1.32353vw;
    line-height: 1.61765vw;
    color: #363636;
    font-weight: 700;
    margin-bottom: 3.38235vw
}

.section_video_title2 span {
    display: inline-block;
    margin-right: 1.32353vw
}

.section_video_text {
    color: #929292;
    font-size: 1.32353vw;
    line-height: 1.91176vw;
    font-weight: 300;
    margin-bottom: 6.76471vw
}

.section_video {
    padding: 5vw 0 3.52941vw
}

.section_contract_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.section_contract_inner_l,
.section_contract_inner_r {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%
}

.section_contract_l_inner {
    padding-right: 5.29412vw
}

.section_contract_r_inner {
    padding-left: 2.94118vw
}

.section_contract_text {
    font-size: 1.32353vw;
    color: #363636;
    font-weight: 300;
    margin-bottom: 1.98529vw
}

.section_contract {
    padding: 7.05882vw 0 3.52941vw
}

.section_givs_table {
    width: 100%;
    text-align: left;
    border-collapse: collapse
}

.section_givs_table tr:nth-child(odd) {
    background: #f7f7f7
}

.section_givs_table thead tr {
    background: 0 0 !important
}

.section_givs_table td,
.section_givs_table th {
    padding: 1.76471vw 1.47059vw;
    vertical-align: middle
}

.section_givs_table th {
    font-size: 1.17647vw;
    color: #363636;
    font-weight: 500
}

.section_givs_withpopups {
    position: relative;
    display: inline-block;
    padding-right: 1.17647vw
}

.section_givs_bloger_photo,
.section_givs_withpopups .opener {
    display: block;
    position: absolute;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.section_givs_withpopups .opener {
    right: 0;
    cursor: pointer;
    width: 1.10294vw;
    height: 1.10294vw;
    top: -0.58824vw
}

.main_menu_close svg,
.popup_close svg,
.section_givs_withpopups .opener svg {
    width: 100%;
    height: 100%
}

.section_givs_bloger {
    padding-left: 5.88235vw;
    position: relative
}

.section_givs_bloger_photo {
    width: 4.70588vw;
    height: 4.70588vw;
    left: 0;
    top: 50%;
    margin-top: -2.35294vw;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center
}

.section_givs_bloger_instagramm {
    font-size: 1.32353vw;
    color: #4d73d7;
    font-weight: 500;
    display: block;
    margin-bottom: 0.44118vw
}

.section_givs_table_text {
    font-size: 1.02941vw;
    color: #929292
}

.section_givs_table_title {
    font-size: 1.17647vw;
    font-weight: 500;
    color: #363636
}

.section_givs_table_cost {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.section_givs_table_cost .section_givs_table_title {
    margin-right: 3.08824vw;
    padding-left: 1.10294vw
}

.section_givs_table_cost .link {
    margin-bottom: -0.58824vw
}

.section_givs_cost_getprice {
    font-size: 1.17647vw;
    color: #4d73d7;
    font-weight: 500;
    margin-right: 3.08824vw
}

.section_givs_table_title+.section_givs_table_text {
    margin-top: 0.58824vw
}

.section_givs {
    padding: 6.32353vw 0 3.52941vw
}

.section_givs h2 {
    margin-bottom: 1.47059vw
}

.main_page_footer_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.main_page_footer_inner .logo,
.main_page_footer_inner .main_page_footer_button {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.main_page_footer_inner .copyright {
    -webkit-box-flex: 3;
    -webkit-flex-grow: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
    text-align: center;
    color: #d6d6d6;
    font-size: 1.02941vw;
    font-weight: 300
}

.main_page_footer_button {
    text-align: right
}

.main_page_footer {
    padding: 2.35294vw 0 3.08824vw
}

.section_main_l,
.section_main_r {
    min-height: 100vh
}

.getconsultation_popup,
.login_popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #58c7db;
    background-image: -webkit-linear-gradient(65deg, #58c7db 0%, #4c68d6 100%);
    background-image: -o-linear-gradient(65deg, #58c7db 0%, #4c68d6 100%);
    background-image: linear-gradient(25deg, #58c7db 0%, #4c68d6 100%);
    color: #fff;
    text-align: center
}

.getconsultation_popup h2,
.login_popup h2 {
    margin-bottom: 0.80882vw
}

.getconsultation_center {
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 13.08824vw 0 9.26471vw
}

.getconsultation_text {
    font-size: 1.10294vw;
    line-height: 1.91176vw;
    font-weight: 300;
    margin-bottom: 3.52941vw;
    min-height: 1.91176vw
}

.getconsultation_form_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3.01471vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.getconsultation_form button {
    min-width: 8.82353vw
}

.getconsultation_form input {
    display: block;
    width: 22.05882vw;
    border-bottom: 0.14706vw solid #fff;
    margin: 0 1.10294vw;
    font-size: 1.02941vw;
    font-weight: 500;
    color: #fff;
    padding: 0.73529vw 0
}

.getconsultation_form input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1
}

.getconsultation_form input:-ms-input-placeholder,
.getconsultation_form input::-ms-input-placeholder {
    color: #fff;
    opacity: 1
}

.getconsultation_form input::placeholder {
    color: #fff;
    opacity: 1
}

.main_menu_close,
.popup_close {
    display: block;
    width: 1.17647vw;
    height: 1.17647vw;
    position: absolute;
    top: 2.94118vw;
    right: 2.94118vw;
    z-index: 2;
    cursor: pointer;
    -webkit-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out
}

.main_menu_close:hover,
.popup_close:hover {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.mobile_th {
    display: none
}

header {
    background: #f7f7f7;
    padding: 2.20588vw 0
}

.header,
.header_right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.header .header_logo,
.header .header_right {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.header .header_button {
    -webkit-box-flex: 5;
    -webkit-flex-grow: 5;
    -ms-flex-positive: 5;
    flex-grow: 5;
    text-align: center
}

.header_right {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.header_login {
    font-size: 1.02941vw;
    line-height: 1.32353vw;
    color: #4d73d7;
    display: block;
    font-weight: 500;
    -webkit-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out
}

.header_login:hover {
    opacity: .75
}

.header_menu {
    display: block;
    margin-left: 3.52941vw;
    width: 1.47059vw;
    height: 1.17647vw;
    position: relative
}

.header_menu span {
    display: block;
    width: 1.47059vw;
    height: 0.14706vw;
    background: #000;
    -webkit-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
    position: absolute;
    right: 0
}

.header_menu span:first-child {
    top: 0
}

.header_menu span.header_menu_middle {
    width: 1.17647vw;
    top: 0.51471vw
}

.header_menu span:last-child {
    top: 1.02941vw
}

.header_menu:hover span {
    top: 0.51471vw
}

.giveslate_header {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 4.70588vw
}

.giveslate_header,
.sorting,
.sorting_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.sorting_item {
    padding-right: 2.20588vw;
    color: #929292;
    cursor: pointer
}

.sorting_item_title {
    font-size: 1.02941vw;
    line-height: 1.32353vw;
    font-weight: 700;
    margin-right: 0.44118vw
}

.sorting_item_icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.sorting_item_icon {
    width: 0.73529vw;
    height: 0.95588vw;
    fill: #929292
}

.sorting_item_icon.active {
    fill: #4d73d7 !important
}

.sorting_item.active {
    color: #000
}

.giveslate_header_items {
    text-align: right;
    color: #929292;
    font-size: 1.02941vw;
    line-height: 1.32353vw;
    font-weight: 500
}

.gives_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.gives_item+.gives_item {
    margin-top: 4.41176vw
}

.gives_item_img {
    min-width: 29.41176vw;
    width: 29.41176vw;
    min-height: 21.83824vw;
    background-color: #f3f3f3;
    -webkit-border-radius: 0.58824vw;
    border-radius: 0.58824vw;
    background: url(../img/section_video_video.jpg) no-repeat center/cover;
    position: relative
}

.gives_item_playbutton {
    display: block;
    width: 2.79412vw;
    height: 3.23529vw;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -1.39706vw;
    margin-top: -1.61765vw;
    -webkit-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out
}

.gives_item_playbutton svg,
.video_inner iframe {
    width: 100%;
    height: 100%;
    display: block
}

.gives_item_playbutton:hover {
    opacity: .75
}

.gives_item_content {
    padding: 2.35294vw 0 2.72059vw 5.88235vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.gives_item__content {
    width: 100%
}

.gives_item_title {
    font-size: 1.76471vw;
    font-weight: 700;
    margin-bottom: 1.54412vw
}

.gives_item_title span {
    display: inline-block;
    margin-right: 1.61765vw
}

.gives_item_title2 {
    font-size: 1.32353vw;
    line-height: 1.61765vw;
    color: #363636;
    font-weight: 700;
    margin-bottom: 3.45588vw
}

.gives_item_title2 span {
    display: inline-block;
    margin-right: 1.32353vw
}

.gives_item_text {
    color: #929292;
    font-size: 1.32353vw;
    line-height: 1.91176vw;
    font-weight: 300;
    margin-bottom: 4.19118vw
}

.giveslate {
    padding: 5.88235vw 0 0
}

.giveslate h2 {
    margin-bottom: 3.52941vw
}

.gives_list {
    padding: 0 1.47059vw 3.52941vw
}

.gives_list_loadmore {
    text-align: center;
    margin-top: 4.41176vw
}

.section_signup {
    position: relative;
    background: #f7f7f7
}

.section_signup h1 {
    font-size: 2.64706vw;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4.41176vw
}

.section_signup_header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 3.08824vw 7.05882vw
}

.section_signup_header .header_menu {
    position: absolute;
    right: 7.05882vw;
    top: 50%;
    margin-top: -0.58824vw
}

.section_signup_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    padding: 10.58824vw 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.section_signup_form {
    text-align: left;
    width: 41.91176vw
}

.section_signup_form_title {
    color: #929292;
    font-size: 1.02941vw;
    font-weight: 300;
    display: block;
    margin-bottom: 0;
    position: absolute;
    left: 0;
    bottom: 0.66176vw;
    -webkit-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
    white-space: nowrap
}

.section_signup_form_group {
    position: relative
}

.section_signup_form_group input {
    font-size: 1.02941vw;
    color: #363636;
    border-bottom: 0.14706vw solid #e4e4e4;
    font-weight: 300;
    display: block;
    width: 100%;
    height: 2.5vw;
    -webkit-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out
}

.section_signup_form_group.section_signup_form_alert input {
    color: #ee4655
}

.section_signup_form_group.section_signup_form_focused .section_signup_form_title {
    bottom: 100%
}

.section_signup_form_group+.section_signup_form_group {
    margin-top: 2.13235vw
}
.section_signup_form_group {
    margin-bottom: 2.13235vw
}

.section_signup_form_button {
    margin-top: 3.67647vw;
    text-align: center
}

.section_signup_footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding: 3.52941vw 7.05882vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.section_signup_footer .copyright {
    font-size: 1.02941vw;
    color: #d6d6d6;
    font-weight: 300;
    text-align: center;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%
}

.section_signup_footer .logo,
.section_signup_footer .section_signup_footer_button {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%
}

.section_signup_footer .section_signup_footer_button {
    text-align: right
}

.gives {
    padding-bottom: 3.52941vw
}

.posrel {
    position: relative
}

.table_popup,
.table_popup:before {
    background: #fff;
    position: absolute;
    left: 50%
}

.table_popup {
    border: 0.14706vw solid #5e5bea;
    -webkit-border-radius: 0.36765vw;
    border-radius: 0.36765vw;
    margin-top: 0.95588vw;
    padding: 2.5vw 2.64706vw;
    text-align: center;
    top: 100%;
    z-index: 100;
    width: 25.73529vw;
    margin-left: -12.86765vw;
    display: none
}

.table_popup:before {
    content: '';
    display: block;
    width: 1.10294vw;
    height: 1.10294vw;
    border-left: 0.14706vw solid #5e5bea;
    border-top: 0.14706vw solid #5e5bea;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 2;
    top: -0.66176vw;
    margin-left: -0.58824vw
}

.table_popup.table_popup_top {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: 0.95588vw
}

.table_popup.table_popup_top:before {
    content: '';
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    top: auto;
    bottom: -0.66176vw
}

.table_popup_close {
    width: 1.17647vw;
    height: 1.17647vw;
    display: block;
    position: absolute;
    right: 1.47059vw;
    top: 1.47059vw;
    cursor: pointer;
    -webkit-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out
}

.table_popup_close:hover {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.table_popup_close svg,
.table_popup_file_icon svg {
    width: 100%;
    height: 100%
}

.table_popup_title {
    font-size: 1.61765vw;
    color: #363636;
    font-weight: 700;
    padding: 0 1.47059vw;
    margin-bottom: 1.76471vw
}

.table_popup_text {
    font-size: 1.10294vw;
    color: #363636;
    font-weight: 300;
    line-height: 1.61765vw
}

.table_popup_text+.table_popup_link {
    margin-top: 2.79412vw
}

.table_popup_file {
    text-align: center;
    font-size: 1.10294vw;
    color: #5e5bea;
    font-weight: 300;
    margin: 1.98529vw 0 2.5vw;
    display: block
}

.table_popup_file span,
.table_popup_file_icon {
    display: inline-block;
    vertical-align: middle
}

.table_popup_file_icon {
    width: 2.05882vw;
    height: 1.10294vw;
    margin-right: 0.58824vw
}

.table_popup_bloger {
    padding-bottom: 0
}

.table_popup_bloger_photo {
    width: 4.70588vw;
    height: 4.70588vw;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -2.35294vw;
    margin-top: -2.35294vw;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 3
}

.table_popup_bloger_name {
    font-size: 1.32353vw;
    font-weight: 700;
    color: #363636;
    margin-bottom: 0.51471vw
}

.table_popup_bloger_inst {
    display: block;
    font-size: 1.17647vw;
    color: #4d73d7;
    font-weight: 500;
    margin-bottom: 0.44118vw
}

.table_popup_bloger_sub {
    font-size: 1.02941vw;
    color: #929292;
    font-weight: 300;
    margin-bottom: 1.61765vw
}

.table_popup_bloger_text {
    font-size: 1.10294vw;
    line-height: 1.61765vw;
    color: #363636;
    font-weight: 300;
    margin-bottom: 0.80882vw
}

.table_popup_bloger_link {
    display: block;
    font-size: 1.02941vw;
    color: #5e5bea;
    font-weight: 300;
    margin-bottom: 1.47059vw
}

.table_popup_bloger_bottom {
    margin: 0 -2.64706vw;
    padding: 1.76471vw 2.64706vw 2.35294vw;
    background: #f7f7f7
}

.table_popup_bloger_bottom_next {
    font-size: 1.10294vw;
    font-weight: 700;
    color: #363636;
    margin-bottom: 1.25vw
}

.table_popup_bloger_bottom_cost {
    font-size: 1.02941vw;
    color: #363636;
    font-weight: 300;
    margin-bottom: 2.27941vw
}

.table_popup_bloger_bottom_cost span {
    display: inline-block;
    margin: 0 0.58824vw
}

.main_menu,
.main_menu_bg {
    position: fixed;
    top: 0;
    height: 100%;
    display: none
}

.main_menu_bg {
    left: 0;
    background: 0 0;
    opacity: 0;
    z-index: 999;
    width: 100%
}

.main_menu {
    right: 0;
    z-index: 1000;
    background: url(../img/main_menu_bg.jpg) no-repeat left bottom/cover;
    width: 50%;
    color: #fff
}

.main_menu_link {
    font-size: 1.10294vw;
    text-decoration: underline;
    font-weight: 500
}

.main_menu_inner {
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 7.05882vw 12.94118vw;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.main_menu_content ul {
    margin-bottom: 5.51471vw
}

.main_menu_content li {
    font-size: 1.47059vw;
    font-weight: 500
}

.main_menu_content li+li {
    margin-top: 1.76471vw
}

.main_menu_write {
    margin-bottom: 3.16176vw
}

.main_menu_content_mobile {
    display: none
}

.getconsultation_text_mobile {
    display: none;
    font-size: 1.47059vw;
    line-height: 2.05882vw;
    font-weight: 300;
    margin-top: 5.29412vw
}

a.getconsultation_text_mobile {
    text-decoration: underline
}

.section_signup_successtext {
    font-size: 1.76471vw;
    line-height: 2.20588vw;
    font-weight: 700
}

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #58c7db;
    background-image: -webkit-linear-gradient(65deg, #58c7db 0%, #4c68d6 100%);
    background-image: -o-linear-gradient(65deg, #58c7db 0%, #4c68d6 100%);
    background-image: linear-gradient(25deg, #58c7db 0%, #4c68d6 100%);
    color: #fff;
    text-align: center
}

.sent_content,
h2+.button {
    margin-top: 3.52941vw
}

.sent_content .button {
    margin-top: 3.52941vw;
    min-width: 8.82353vw
}

body.fixed {
    overflow: hidden
}

.video_inner {
    width: 70.58824vw;
    margin-left: -35.29412vw;
    height: 39.70588vw;
    margin-top: -19.85294vw;
    position: absolute;
    left: 50%;
    top: 50%
}