@media (max-width:1023px) {
    h2 {
        font-size: 5vw;
        line-height: 5.9375vw
    }

    .button {
        border-width: 0.3125vw;
        height: 9.375vw;
        line-height: 8.75vw;
        font-size: 3.125vw;
        padding: 0 1.875vw
    }

    .wrapper {
        max-width: 100%;
        padding-left: 4.6875vw;
        padding-right: 4.6875vw
    }

    .link {
        font-size: 3.75vw;
        line-height: 3.4375vw;
        border-bottom: 0.3125vw solid #4d73d7;
        padding-bottom: 0.9375vw
    }

    .logo {
        font-size: 2.8125vw;
        line-height: 2.8125vw
    }

    .section_main_inner,
    .section_main_l .section_main_header_menu {
        display: block
    }

    .section_main_l {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }

    .section_main_l h2 {
        margin-bottom: 2.34375vw
    }

    .section_main_l_inner {
        padding: 8.59375vw 4.6875vw 11.875vw
    }

    .section_main_header {
        height: auto;
        margin-bottom: 14.375vw
    }

    .section_main_l_text {
        font-size: 3.75vw;
        line-height: 4.6875vw;
        color: #929292;
        font-weight: 300;
        margin-bottom: 7.96875vw
    }

    .section_main_l_givelist_t {
        font-size: 5vw;
        margin-right: 7.5vw
    }

    .section_main_l_givelist_link {
        font-size: 4.0625vw;
        line-height: 4.0625vw
    }

    .section_main_l_givelist_link:after {
        height: 0.3125vw;
        bottom: -1.25vw
    }

    .section_main_title {
        font-size: 4.0625vw;
        line-height: 5vw;
        margin-bottom: 5vw
    }

    .section_main_founder {
        font-size: 4.0625vw;
        font-weight: 500;
        padding-right: 0;
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%
    }

    .section_main_founder span {
        display: block;
        padding: 0 0 0 2.5vw
    }

    .section_main_l_givelist {
        margin-bottom: 12.65625vw
    }

    .section_main_founder_photo {
        width: 13.28125vw;
        height: 13.28125vw
    }

    .section_main_r {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }

    .section_main_r .section_main_content {
        padding: 0
    }

    .section_givs_table thead,
    .section_main_r .section_main_header {
        display: none
    }

    .section_main_r_inner {
        padding: 9.375vw 4.6875vw 8.59375vw
    }

    .section_main_header_menu {
        margin-left: 0;
        width: 4.6875vw;
        height: 3.59375vw
    }

    .section_main_header_menu span {
        width: 4.6875vw;
        height: 0.46875vw
    }

    .section_main_header_menu span.section_main_header_menu_middle {
        width: 3.75vw;
        top: 1.5625vw
    }

    .section_main_header_menu span:last-child {
        top: 3.125vw
    }

    .section_main_header_menu:hover span {
        top: 1.5625vw
    }

    .section_main_r_title {
        font-size: 3.75vw;
        line-height: 4.375vw;
        margin-bottom: 8.4375vw
    }

    .section_main_r_title .section_main_r_title_logo {
        font-size: 4.21875vw;
        line-height: 4.21875vw;
        position: relative;
        padding-right: 7.5vw;
        display: inline-block;
        margin-bottom: 2.96875vw
    }

    .section_main_r_title .section_main_r_title_logo:after {
        content: "";
        display: block;
        width: 2.8125vw;
        height: 0.3125vw;
        background: #fff;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -1px
    }

    .section_main_r_title .section_main_r_title- {
        display: block;
        height: 1px;
        opacity: 0;
        overflow: hidden
    }

    .section_main_r_instagrammlogo {
        width: 28.4375vw;
        height: 28.125vw;
        margin: 0 auto 6.71875vw
    }

    .section_main_r_subscribers_quantity {
        font-size: 12.5vw;
        margin-bottom: 1.71875vw
    }

    .section_main_r_subscribers_text {
        font-size: 4.21875vw
    }

    .section_main_r_subscribers_text_tip {
        -webkit-border-radius: 2.34375vw;
        border-radius: 2.34375vw;
        font-size: 3.59375vw;
        height: 8.75vw;
        line-height: 8.75vw;
        padding: 0 2.34375vw;
        margin-bottom: 2.65625vw
    }

    .section_main_r_subscribers_text_tip:after {
        border-left: 2.34375vw solid transparent;
        border-right: 2.34375vw solid transparent;
        border-top: 2.34375vw solid #ee4655;
        margin-left: -2.34375vw
    }

    .section_main_r_subscribers_text_tip svg {
        width: 3.59375vw;
        height: 3.59375vw;
        margin-right: 1.5625vw
    }

    .section_advantages {
        padding: 14.53125vw 0 10vw
    }

    .section_advantages h2 {
        margin-bottom: 9.0625vw
    }

    .advantages {
        display: block
    }

    .advantage {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }

    .advantage+.advantage {
        margin-top: 8.75vw
    }

    .advantage_inner {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 0 0 5vw
    }

    .advantage_icon {
        min-width: 15vw;
        width: 15vw;
        height: 13.28125vw
    }

    .advantage_text {
        font-size: 3.75vw;
        line-height: 4.6875vw;
        max-width: 100%;
        margin-left: 5vw
    }

    .section_stars {
        padding: 3.4375vw 0 8.59375vw
    }

    .section_stars h2 {
        margin-bottom: 1.875vw
    }

    .stars {
        margin: 0;
        width: 100% !important;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .star {
        text-align: center;
        padding: 0 4.6875vw;
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        margin-top: 9.375vw;
        max-width: 50%
    }

    .star_photo {
        width: 35.9375vw;
        height: 37.65625vw;
        margin: 0 auto 2.8125vw
    }

    .star_name {
        font-size: 3.4375vw;
        margin-bottom: 3.75vw
    }

    .star_instagramm {
        font-size: 2.96875vw;
        margin-bottom: 0.9375vw
    }

    .star_subscribers {
        font-size: 2.65625vw;
        margin-bottom: 4.0625vw
    }

    .star_link {
        font-size: 3.75vw;
        line-height: normal
    }

    .star_link span {
        display: inline-block;
        border-bottom: 0.3125vw solid #4d73d7;
        padding-bottom: 0.46875vw
    }

    .section_video_inner {
        display: block
    }

    .section_video_l {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }

    .section_video_l_inner {
        padding-right: 0;
        height: 65vw
    }

    .section_video_video {
        -webkit-border-radius: 1.875vw;
        border-radius: 1.875vw
    }

    .section_video_playbutton {
        display: block;
        width: 5.9375vw;
        height: 6.875vw;
        margin-left: -2.96875vw;
        margin-top: -3.4375vw
    }

    .section_video_r {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }

    .section_video_r_inner {
        padding: 8.28125vw 0 0
    }

    .section_video_title {
        font-size: 4.375vw;
        margin-bottom: 4.53125vw
    }

    .section_video_title span {
        margin-right: 3.4375vw
    }

    .section_video_title2 {
        font-size: 3.4375vw;
        line-height: 4.0625vw;
        margin-bottom: 5.9375vw
    }

    .section_video_title2 span {
        margin-right: 2.8125vw
    }

    .section_video_text {
        font-size: 3.4375vw;
        line-height: 5vw;
        margin-bottom: 7.65625vw
    }

    .section_video {
        padding: 7.03125vw 0 8.59375vw
    }

    .section_contract_inner {
        display: block
    }

    .section_contract_inner_l,
    .section_contract_inner_r {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }

    .section_contract_l_inner {
        padding-right: 0
    }

    .section_contract_r_inner {
        padding-left: 0
    }

    .section_contract_text {
        font-size: 3.75vw;
        margin-bottom: 5.9375vw
    }

    .section_contract {
        padding: 3.125vw 0 8.59375vw
    }

    .section_contract h2 {
        margin-bottom: 5vw
    }

    .section_givs_table,
    .section_givs_table tbody,
    .section_givs_table td,
    .section_givs_table th,
    .section_givs_table tr {
        display: block
    }

    .section_givs_bloger,
    .section_givs_table tr {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .section_givs_table tr {
        padding: 3.4375vw 2.8125vw 5.625vw;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-border-radius: 0.78125vw;
        border-radius: 0.78125vw
    }

    .section_givs_bloger .section_givs_table_text,
    .section_givs_table td {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }

    .section_givs_table td {
        text-align: left !important;
        padding: 0 2.8125vw
    }

    .section_givs_table td.mobile100 {
        min-width: 100%
    }

    .section_givs_table th {
        padding: 0 2.8125vw
    }

    .section_givs_withpopups .opener {
        width: 3.75vw;
        height: 3.75vw;
        -webkit-border-radius: 1.875vw;
        border-radius: 1.875vw;
        top: -2.5vw
    }

    .section_givs_bloger {
        padding-left: 0;
        position: relative;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 5.9375vw
    }

    .section_givs_bloger .section_givs_table_text {
        text-align: right
    }

    .section_givs_bloger_photo {
        min-width: 10vw;
        width: 10vw;
        height: 10vw;
        position: static;
        margin-top: 0;
        margin-right: 2.5vw
    }

    .section_givs_bloger_instagramm {
        font-size: 3.4375vw;
        margin-bottom: 0
    }

    .section_givs_table_text {
        font-size: 2.8125vw;
        line-height: 4.0625vw;
        display: inline-block
    }

    .section_givs_table_title {
        font-size: 3.125vw;
        font-weight: 500;
        display: inline-block
    }

    .section_givs_table_cost {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        padding-top: 6.875vw
    }

    .section_givs_cost_getprice {
        font-size: 3.125vw;
        padding-bottom: 1.25vw;
        margin-right: 6.5625vw
    }

    .section_givs_table_title+.section_givs_table_text {
        margin-top: 0;
        margin-left: 2.1875vw
    }

    .section_givs {
        padding: 6.25vw 0 0
    }

    .section_givs h2 {
        margin-bottom: 8.125vw
    }

    .mobile_th {
        display: block;
        font-size: 2.5vw;
        font-weight: 500;
        color: #363636;
        margin-bottom: 5vw
    }

    .section_givs_withpopups {
        padding-right: 0
    }

    .section_givs_withpopups .text {
        position: relative;
        display: inline-block;
        padding-right: 3.125vw
    }

    .main_page_footer_inner .logo {
        display: none
    }

    .main_page_footer_inner .copyright,
    .main_page_footer_inner .main_page_footer_button {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }

    .main_page_footer_inner .copyright {
        text-align: left;
        font-size: 3.125vw
    }

    .main_page_footer {
        padding: 10.9375vw 0 8.75vw
    }

    .section_main_l,
    .section_main_r {
        min-height: 0
    }

    .forgot_popup h2,
    .getconsultation_popup h2,
    .login_popup h2 {
        margin-bottom: 11.25vw;
        font-size: 5.625vw;
        line-height: 6.5625vw
    }

    .getconsultation_center {
        min-height: 100vh;
        padding: 30vw 9.375vw;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .getconsultation_text {
        display: none
    }

    .getconsultation_text_mobile {
        display: block;
        font-size: 3.28125vw;
        line-height: 4.375vw;
        font-weight: 300;
        margin-top: 16.875vw
    }

    .getconsultation_form_row {
        display: block;
        margin-bottom: 14.6875vw
    }

    .getconsultation_form {
        display: block;
        width: 100%
    }

    .getconsultation_form input {
        width: 100%;
        border-bottom: 0.3125vw solid #fff;
        margin: 0;
        font-size: 4.375vw;
        padding: 1.5625vw 0;
        -webkit-border-radius: 0 !important;
        border-radius: 0 !important
    }

    .getconsultation_form input+input {
        margin-top: 9.6875vw
    }

    .getconsultation_form .button {
        height: 10.625vw;
        line-height: 10vw;
        width: 31.25vw
    }

    .main_menu_close,
    .popup_close {
        width: 5vw;
        height: 5vw;
        top: 9.375vw;
        right: 9.375vw
    }

    header {
        padding: 8.75vw 0
    }

    .header_login {
        display: none
    }

    .header_menu {
        margin-left: 0;
        width: 4.6875vw;
        height: 3.59375vw
    }

    .header_menu span {
        width: 4.6875vw;
        height: 0.46875vw
    }

    .header_menu span.header_menu_middle {
        width: 3.75vw;
        top: 1.5625vw
    }

    .header_menu span:last-child {
        top: 3.125vw
    }

    .header_menu:hover span {
        top: 1.5625vw
    }

    .header_button {
        display: none
    }

    .giveslate_header {
        margin-bottom: 8.59375vw
    }

    .sorting_item {
        padding-right: 5.625vw
    }

    .sorting_item_title {
        font-size: 2.65625vw;
        line-height: 3.4375vw;
        margin-right: 1.25vw
    }

    .sorting_item_icon {
        width: 1.875vw;
        height: 2.5vw
    }

    .giveslate_header_items {
        font-size: 2.65625vw;
        line-height: 3.4375vw
    }

    .gives_item {
        display: block
    }

    .gives_item+.gives_item {
        margin-top: 0
    }

    .gives_item_img {
        width: 100%;
        height: 65vw;
        min-height: 0;
        -webkit-border-radius: 1.875vw;
        border-radius: 1.875vw
    }

    .gives_item_playbutton {
        width: 5.9375vw;
        height: 6.875vw;
        margin-left: -2.96875vw;
        margin-top: -3.4375vw
    }

    .gives_item_content {
        padding: 8.28125vw 0 9.375vw;
        display: block
    }

    .gives_item_title {
        font-size: 4.375vw;
        margin-bottom: 4.53125vw
    }

    .gives_item_title span {
        margin-right: 3.125vw
    }

    .gives_item_title2 {
        font-size: 3.4375vw;
        line-height: 4.0625vw;
        margin-bottom: 5.78125vw
    }

    .gives_item_title2 span {
        display: inline-block;
        margin-right: 2.8125vw
    }

    .gives_item_text {
        font-size: 3.4375vw;
        line-height: 4.84375vw;
        margin-bottom: 8.125vw
    }

    .giveslate {
        padding: 14.375vw 0 1.5625vw
    }

    .giveslate h2 {
        margin-bottom: 7.03125vw;
        max-width: 62.5vw
    }

    .gives_list {
        padding: 0
    }

    .gives_list_loadmore {
        margin-top: 3.125vw
    }

    .gives_list_loadmore .button {
        width: 41.71875vw
    }

    .section_signup h1 {
        font-size: 5.625vw;
        margin-bottom: 18.75vw
    }

    .section_signup_header {
        text-align: left;
        padding: 8.75vw 4.6875vw
    }

    .section_signup_header .header_menu {
        right: 4.6875vw;
        margin-top: -1.25vw
    }

    .section_signup_inner {
        min-height: 100vh;
        padding: 30vw 0;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .section_signup_form {
        width: 100%;
        padding: 0 4.6875vw
    }

    .section_signup_form_title {
        font-size: 4.6875vw;
        margin-bottom: 0;
        position: relative;
        left: 0;
        bottom: 0;
        white-space: normal
    }

    .section_signup_form_group input {
        font-size: 4.6875vw;
        border-bottom: 0.46875vw solid #e4e4e4;
        height: 0
    }

    .section_signup_form_focused input {
        height: 7.8125vw
    }

    .section_signup_form_focused .section_signup_form_title {
        bottom: 0
    }

    .section_signup_form_group+.section_signup_form_group {
        margin-top: 6.875vw
    }

    .section_signup_form_button {
        margin-top: 11.71875vw
    }

    .section_signup_form_button .button {
        width: 33.125vw
    }

    .section_signup_footer {
        text-align: left;
        padding: 8.59375vw 4.6875vw
    }

    .section_signup_footer .copyright {
        font-size: 3.125vw;
        text-align: left;
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%
    }

    .section_signup_footer .logo {
        display: none
    }

    .section_signup_footer .section_signup_footer_button {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        text-align: right
    }

    .gives {
        padding-bottom: 1.5625vw
    }

    .table_popup {
        border: 0.3125vw solid #5e5bea;
        -webkit-border-radius: 0.78125vw;
        border-radius: 0.78125vw;
        width: 81.875vw;
        margin-left: -40.9375vw;
        margin-top: 0;
        top: 15vw;
        bottom: auto;
        padding: 8.59375vw 7.5vw 8.4375vw;
        position: fixed
    }

    .table_popup:before {
        display: none !important
    }

    .table_popup.table_popup_top {
        margin-bottom: 0;
        top: 15vw;
        bottom: auto
    }

    .table_popup_close {
        width: 3.75vw;
        height: 3.75vw;
        right: 5vw;
        top: 5vw
    }

    .table_popup_title {
        font-size: 5.15625vw;
        padding: 0;
        margin-bottom: 5.46875vw
    }

    .table_popup_text {
        font-size: 3.4375vw;
        line-height: 5.3125vw
    }

    .table_popup_text+.table_popup_link {
        margin-top: 8.28125vw
    }

    .table_popup_file {
        font-size: 3.75vw;
        font-weight: 300;
        margin: 5.46875vw 0 8.125vw
    }

    .table_popup_file_icon {
        width: 6.5625vw;
        height: 3.4375vw;
        margin-right: 1.875vw
    }

    .table_popup_bloger_photo {
        width: 15vw;
        height: 15vw;
        margin-left: -7.5vw;
        margin-top: -7.5vw
    }

    .table_popup_bloger_name {
        font-size: 4.21875vw;
        margin-bottom: 1.5625vw
    }

    .table_popup_bloger_inst {
        font-size: 3.75vw;
        margin-bottom: 1.25vw
    }

    .table_popup_bloger_sub {
        font-size: 3.28125vw;
        margin-bottom: 5.3125vw
    }

    .table_popup_bloger_text {
        font-size: 3.4375vw;
        line-height: 5.3125vw;
        margin-bottom: 1.875vw
    }

    .table_popup_bloger_link {
        font-size: 3.4375vw;
        margin-bottom: 4.53125vw
    }

    .table_popup_bloger_bottom {
        margin: 0 -7.5vw;
        padding: 6.25vw 7.5vw 7.65625vw
    }

    .table_popup_bloger_bottom_next {
        font-size: 3.4375vw;
        margin-bottom: 4.0625vw
    }

    .table_popup_bloger_bottom_cost {
        font-size: 3.28125vw;
        margin-bottom: 8.125vw
    }

    .table_popup_bloger_bottom_cost span {
        margin: 0 1.875vw
    }

    .table_popup_bloger {
        padding-bottom: 0;
        padding-top: 8.90625vw
    }

    .main_menu {
        width: 100%
    }

    .main_menu_link {
        font-size: 3.75vw
    }

    .main_menu_inner {
        padding: 22.5vw 23.4375vw
    }

    .main_menu_content ul {
        margin-bottom: 16.5625vw
    }

    .main_menu_content li {
        font-size: 4.6875vw
    }

    .main_menu_content li+li {
        margin-top: 5.625vw
    }

    .main_menu_write {
        margin-bottom: 10.3125vw
    }

    .main_menu_write .button {
        height: 10.46875vw;
        line-height: 9.84375vw;
        width: 49.21875vw
    }

    .main_menu_content_mobile {
        display: block;
        margin-bottom: 11.25vw
    }

    .main_menu_content_mobile a {
        display: block;
        font-size: 3.75vw;
        font-weight: 500
    }

    .main_menu_content_mobile a+a {
        margin-top: 7.5vw
    }

    .video_popup .getconsultation_center {
        padding: 18.75vw 0
    }

    .video_inner {
        width: 90.625vw;
        margin-left: -45.3125vw;
        height: 50.97656vw;
        margin-top: -25.48828vw
    }

    .section_signup_successtext {
        font-size: 4.6875vw;
        line-height: 6.5625vw
    }

    .sent_content,
    h2+.button {
        margin-top: 7.5vw
    }

    .popup .button {
        font-size: 4.375vw;
        min-width: 28.125vw
    }
}

@media (min-width:1024px) {
    .table_popup_date2 {
        display: none !important
    }
}